/* global styling */

html{
    font-family: sans-serif;
    color: #ffffff;
    background-color: #333333;
}

a:link{
    color: aqua;
}

a:visited{
    color: #17c7c7;
}

blockquote{
    border-left: lightcyan thick groove;
    margin-left: 0;
    padding-left: 15px;
    font-style: italic;
}

/* utility classes */

.small{
    font-size: x-small;
}

.inline{
    display: inline-block;
}

/* layouting */

.container{
    width: 75%;
    height: 100%;
    margin: auto;
    padding: 15px;

    border-left: black thin solid;
    border-right: black thin solid;

    background-color: #222222;
}

/* member tags */

.liText{
    color: #fd33ee;
}

.chText{
    color: #0ef884;
}

.luText{
    color: #efea0c;
}

.haText{
    color: #f37632;
}

.reText{
    color: #5858f3;
}

.dyText{

}

/* dance on hover */

@property --angle{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.polyText{
    --angle: 0deg;

    text-shadow:
            calc(sin(var(--angle))*3px) calc(cos(var(--angle))*3px) 2px #fd33ee,
            calc(sin(var(--angle) + 72deg)*3px) calc(cos(var(--angle) + 72deg)*3px) 2px #0ef884,
            calc(sin(var(--angle) + 144deg)*3px) calc(cos(var(--angle) + 144deg)*3px) 2px #f37632,
            calc(sin(var(--angle) + 216deg)*3px) calc(cos(var(--angle) + 216deg)*3px) 2px #efea0c,
            calc(sin(var(--angle) + 288deg)*3px) calc(cos(var(--angle) + 288deg)*3px) 2px #5858f3;
}

.polyText:hover{
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (prefers-reduced-motion: reduce){
    .polyText:hover{
        animation-name: none;
    }
}

/* buttons */

.haButton{
    background-color: #222222;
    color: #f37632;
    border-color: #884423;
    border-radius: 5px;
    padding: 1px 5px 3px;
}

.luButton{
    background-color: #222222;
    color: #efea0c;
    border-color: #858404;
    border-radius: 5px;
    padding: 1px 5px 3px;
}

/* blog styling */

.blogIndex{
    line-height: 120%;
}

.blogIndex > li{
    margin: 5px 0;
}

/* we want the semantics of h2, but the styling is much too strong */
.blogIndex h2{
    font-size: 18px;
    display: inline;
}

.timestamp{
    font-style: italic;
    font-size: 80%;
}