/* global styling */

html{
    font-family: sans-serif;
    color: #ffffff;
    background-color: #333333;
}

a:link{
    color: aqua;
}

a:visited{
    color: #17c7c7;
}

/* utility classes */

.small{
    font-size: x-small;
}

.inline{
    display: inline-block;
}

/* layouting */

.container{
    width: 75%;
    height: 100%;
    margin: auto;
    padding: 15px;

    border-left: black thin solid;
    border-right: black thin solid;

    background-color: #222222;
}

/* member tags */

.liText{
    color: #fd33ee;
}

.luText{
    color: #efea0c;
}

.haText{
    color: #f37632;
}

.reText{
    color: #4646c5;
}

.chText{
    color: #0ef884;
}